:root {
  --c--theme--colors--secondary-text: var(--c--theme--colors--greyscale-700);
  --c--theme--colors--secondary-100: #f2f7fc;
  --c--theme--colors--secondary-200: #ebf3fa;
  --c--theme--colors--secondary-300: #e2eef8;
  --c--theme--colors--secondary-400: #ddeaf7;
  --c--theme--colors--secondary-500: #d4e5f5;
  --c--theme--colors--secondary-600: #c1d0df;
  --c--theme--colors--secondary-700: #97a3ae;
  --c--theme--colors--secondary-800: #757e87;
  --c--theme--colors--secondary-900: #596067;
  --c--theme--colors--info-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--info-100: #ebf2fc;
  --c--theme--colors--info-200: #8cb5ea;
  --c--theme--colors--info-300: #5894e1;
  --c--theme--colors--info-400: #377fdb;
  --c--theme--colors--info-500: #055fd2;
  --c--theme--colors--info-600: #0556bf;
  --c--theme--colors--info-700: #044395;
  --c--theme--colors--info-800: #033474;
  --c--theme--colors--info-900: #022858;
  --c--theme--colors--greyscale-100: #fafafb;
  --c--theme--colors--greyscale-200: #f3f4f4;
  --c--theme--colors--greyscale-300: #e7e8ea;
  --c--theme--colors--greyscale-400: #c2c6ca;
  --c--theme--colors--greyscale-500: #9ea3aa;
  --c--theme--colors--greyscale-600: #79818a;
  --c--theme--colors--greyscale-700: #555f6b;
  --c--theme--colors--greyscale-800: #303c4b;
  --c--theme--colors--greyscale-900: #0c1a2b;
  --c--theme--colors--greyscale-000: #ffffff;
  --c--theme--colors--primary-100: #edf5fa;
  --c--theme--colors--primary-200: #8cb5ea;
  --c--theme--colors--primary-300: #5894e1;
  --c--theme--colors--primary-400: #377fdb;
  --c--theme--colors--primary-500: #055fd2;
  --c--theme--colors--primary-600: #0556bf;
  --c--theme--colors--primary-700: #044395;
  --c--theme--colors--primary-800: #033474;
  --c--theme--colors--primary-900: #022858;
  --c--theme--colors--success-100: #effcd3;
  --c--theme--colors--success-200: #dbfaa9;
  --c--theme--colors--success-300: #bef27c;
  --c--theme--colors--success-400: #a0e659;
  --c--theme--colors--success-500: #76d628;
  --c--theme--colors--success-600: #5ab81d;
  --c--theme--colors--success-700: #419a14;
  --c--theme--colors--success-800: #2c7c0c;
  --c--theme--colors--success-900: #1d6607;
  --c--theme--colors--warning-100: #fff8cd;
  --c--theme--colors--warning-200: #ffef9b;
  --c--theme--colors--warning-300: #ffe469;
  --c--theme--colors--warning-400: #ffda43;
  --c--theme--colors--warning-500: #ffc805;
  --c--theme--colors--warning-600: #dba603;
  --c--theme--colors--warning-700: #b78702;
  --c--theme--colors--warning-800: #936901;
  --c--theme--colors--warning-900: #7a5400;
  --c--theme--colors--danger-100: #f4b0b0;
  --c--theme--colors--danger-200: #ee8a8a;
  --c--theme--colors--danger-300: #e65454;
  --c--theme--colors--danger-400: #e13333;
  --c--theme--colors--danger-500: #da0000;
  --c--theme--colors--danger-600: #c60000;
  --c--theme--colors--danger-700: #9b0000;
  --c--theme--colors--danger-800: #780000;
  --c--theme--colors--danger-900: #5c0000;
  --c--theme--colors--primary-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--success-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--warning-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--danger-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--card-border: #dddddd;
  --c--theme--colors--primary-bg: #fafafa;
  --c--theme--colors--primary-150: #e5eefa;
  --c--theme--colors--info-150: #e5eefa;
  --c--theme--colors--grey-400: #929292;
  --c--theme--colors--grey-800: #2a2a2a;
  --c--theme--font--sizes--h1: 2.2rem;
  --c--theme--font--sizes--h2: 1.7rem;
  --c--theme--font--sizes--h3: 1.37rem;
  --c--theme--font--sizes--h4: 1.15rem;
  --c--theme--font--sizes--h5: 1rem;
  --c--theme--font--sizes--h6: 0.87rem;
  --c--theme--font--sizes--l: 1rem;
  --c--theme--font--sizes--m: 0.8125rem;
  --c--theme--font--sizes--s: 0.75rem;
  --c--theme--font--sizes--ml: 0.938rem;
  --c--theme--font--sizes--xl: 1.25rem;
  --c--theme--font--sizes--t: 0.6875rem;
  --c--theme--font--weights--thin: 100;
  --c--theme--font--weights--light: 300;
  --c--theme--font--weights--regular: 400;
  --c--theme--font--weights--medium: 500;
  --c--theme--font--weights--bold: 600;
  --c--theme--font--weights--extrabold: 800;
  --c--theme--font--weights--black: 900;
  --c--theme--font--families--base: 'Roboto Flex Variable', sans-serif;
  --c--theme--font--families--accent: 'Roboto Flex Variable', sans-serif;
  --c--theme--font--letterspacings--h1: normal;
  --c--theme--font--letterspacings--h2: normal;
  --c--theme--font--letterspacings--h3: normal;
  --c--theme--font--letterspacings--h4: normal;
  --c--theme--font--letterspacings--h5: normal;
  --c--theme--font--letterspacings--h6: normal;
  --c--theme--font--letterspacings--l: normal;
  --c--theme--font--letterspacings--m: normal;
  --c--theme--font--letterspacings--s: normal;
  --c--theme--spacings--xl: 4rem;
  --c--theme--spacings--l: 3rem;
  --c--theme--spacings--b: 1.625rem;
  --c--theme--spacings--s: 1rem;
  --c--theme--spacings--t: 0.5rem;
  --c--theme--spacings--st: 0.25rem;
  --c--theme--transitions--ease-in: cubic-bezier(0.32, 0, 0.67, 0);
  --c--theme--transitions--ease-out: cubic-bezier(0.33, 1, 0.68, 1);
  --c--theme--transitions--ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --c--theme--transitions--duration: 250ms;
  --c--theme--breakpoints--xs: 0;
  --c--theme--breakpoints--sm: 576px;
  --c--theme--breakpoints--md: 768px;
  --c--theme--breakpoints--lg: 992px;
  --c--theme--breakpoints--xl: 1200px;
  --c--theme--breakpoints--xxl: 1400px;
}
.cunningham-theme--dark {
  --c--theme--colors--greyscale-100: #182536;
  --c--theme--colors--greyscale-200: #303c4b;
  --c--theme--colors--greyscale-300: #555f6b;
  --c--theme--colors--greyscale-400: #79818a;
  --c--theme--colors--greyscale-500: #9ea3aa;
  --c--theme--colors--greyscale-600: #c2c6ca;
  --c--theme--colors--greyscale-700: #e7e8ea;
  --c--theme--colors--greyscale-800: #f3f4f4;
  --c--theme--colors--greyscale-900: #fafafb;
  --c--theme--colors--greyscale-000: #0c1a2b;
  --c--theme--colors--primary-100: #3b4c62;
  --c--theme--colors--primary-200: #4d6481;
  --c--theme--colors--primary-300: #6381a6;
  --c--theme--colors--primary-400: #7fa5d5;
  --c--theme--colors--primary-500: #8cb5ea;
  --c--theme--colors--primary-600: #a3c4ee;
  --c--theme--colors--primary-700: #c3d8f4;
  --c--theme--colors--primary-800: #dde9f8;
  --c--theme--colors--primary-900: #f4f8fd;
  --c--theme--colors--success-100: #eef8d7;
  --c--theme--colors--success-200: #d9f1b2;
  --c--theme--colors--success-300: #bde985;
  --c--theme--colors--success-400: #a0e25d;
  --c--theme--colors--success-500: #76d628;
  --c--theme--colors--success-600: #5bb520;
  --c--theme--colors--success-700: #43941a;
  --c--theme--colors--success-800: #307414;
  --c--theme--colors--success-900: #225d10;
  --c--theme--colors--warning-100: #f7f3d5;
  --c--theme--colors--warning-200: #f0e5aa;
  --c--theme--colors--warning-300: #e8d680;
  --c--theme--colors--warning-400: #e3c95f;
  --c--theme--colors--warning-500: #d9b32b;
  --c--theme--colors--warning-600: #bd9721;
  --c--theme--colors--warning-700: #9d7b1c;
  --c--theme--colors--warning-800: #7e6016;
  --c--theme--colors--warning-900: #684d12;
  --c--theme--colors--danger-100: #f8d0d0;
  --c--theme--colors--danger-200: #f09898;
  --c--theme--colors--danger-300: #f09898;
  --c--theme--colors--danger-400: #ed8585;
  --c--theme--colors--danger-500: #e96666;
  --c--theme--colors--danger-600: #dd6666;
  --c--theme--colors--danger-700: #c36666;
  --c--theme--colors--danger-800: #ae6666;
  --c--theme--colors--danger-900: #9d6666;
}
.cunningham-theme--dsfr {
  --c--theme--colors--primary-text: var(--c--theme--colors--primary-600);
  --c--theme--colors--primary-100: #f5f5fe;
  --c--theme--colors--primary-200: #ececfe;
  --c--theme--colors--primary-300: #e3e3fd;
  --c--theme--colors--primary-400: #cacafb;
  --c--theme--colors--primary-500: #6a6af4;
  --c--theme--colors--primary-600: #000091;
  --c--theme--colors--primary-clicked-100: #cbcbfa;
  --c--theme--colors--primary-clicked-200: #bbbbfc;
  --c--theme--colors--primary-clicked-300: #adadf9;
  --c--theme--colors--primary-clicked-400: #8b8bf6;
  --c--theme--colors--primary-clicked-500: #aeaef9;
  --c--theme--colors--primary-clicked-600: #2323ff;
  --c--theme--colors--primary-hover-100: #dcdcfc;
  --c--theme--colors--primary-hover-200: #cecefc;
  --c--theme--colors--primary-hover-300: #c1c1fb;
  --c--theme--colors--primary-hover-400: #a1a1f8;
  --c--theme--colors--primary-hover-500: #9898f8;
  --c--theme--colors--primary-hover-600: #1212ff;
  --c--theme--colors--secondary-100: #fef4f4;
  --c--theme--colors--secondary-200: #fee9e9;
  --c--theme--colors--secondary-300: #fddede;
  --c--theme--colors--secondary-400: #fcbfbf;
  --c--theme--colors--secondary-500: #e1000f;
  --c--theme--colors--secondary-600: #c9191e;
  --c--theme--colors--secondary-clicked-100: #fac4c4;
  --c--theme--colors--secondary-clicked-200: #fcafaf;
  --c--theme--colors--secondary-clicked-300: #fa9e9e;
  --c--theme--colors--secondary-clicked-400: #fa7474;
  --c--theme--colors--secondary-clicked-500: #ff4347;
  --c--theme--colors--secondary-clicked-600: #f95a5c;
  --c--theme--colors--secondary-hover-100: #fcd7d7;
  --c--theme--colors--secondary-hover-200: #fdc5c5;
  --c--theme--colors--secondary-hover-300: #fbb6b6;
  --c--theme--colors--secondary-hover-400: #fb8f8f;
  --c--theme--colors--secondary-hover-500: #ff292f;
  --c--theme--colors--secondary-hover-600: #f93f42;
  --c--theme--colors--greyscale-000: #ffffff;
  --c--theme--colors--greyscale-050: #f6f6f6;
  --c--theme--colors--greyscale-100: #eeeeee;
  --c--theme--colors--greyscale-200: #e5e5e5;
  --c--theme--colors--greyscale-250: #dddddd;
  --c--theme--colors--greyscale-300: #cecece;
  --c--theme--colors--greyscale-400: #929292;
  --c--theme--colors--greyscale-500: #666666;
  --c--theme--colors--greyscale-700: #3a3a3a;
  --c--theme--colors--greyscale-1000: #161616;
  --c--theme--colors--greyscale-clicked-000: #ededed;
  --c--theme--colors--greyscale-clicked-050: #cfcfcf;
  --c--theme--colors--greyscale-clicked-100: #c1c1c1;
  --c--theme--colors--greyscale-clicked-200: #b2b2b2;
  --c--theme--colors--greyscale-clicked-250: #a7a7a7;
  --c--theme--colors--greyscale-clicked-300: #939393;
  --c--theme--colors--greyscale-clicked-400: #cecece;
  --c--theme--colors--greyscale-clicked-500: #a6a6a6;
  --c--theme--colors--greyscale-clicked-700: #777777;
  --c--theme--colors--greyscale-clicked-1000: #474747;
  --c--theme--colors--greyscale-hover-000: #f6f6f6;
  --c--theme--colors--greyscale-hover-050: #dfdfdf;
  --c--theme--colors--greyscale-hover-100: #d2d2d2;
  --c--theme--colors--greyscale-hover-200: #c5c5c5;
  --c--theme--colors--greyscale-hover-250: #bbbbbb;
  --c--theme--colors--greyscale-hover-300: #a8a8a8;
  --c--theme--colors--greyscale-hover-400: #bbbbbb;
  --c--theme--colors--greyscale-hover-500: #919191;
  --c--theme--colors--greyscale-hover-700: #616161;
  --c--theme--colors--greyscale-hover-1000: #343434;
  --c--theme--colors--success-200: #b8fec9;
  --c--theme--colors--success-500: #18753c;
  --c--theme--colors--success-600: #18753c;
  --c--theme--colors--success-clicked-200: #34eb7b;
  --c--theme--colors--success-clicked-600: #2fc368;
  --c--theme--colors--success-hover-200: #46fd89;
  --c--theme--colors--success-hover-600: #27a959;
  --c--theme--colors--info-200: #e8edff;
  --c--theme--colors--info-500: #0063cb;
  --c--theme--colors--info-600: #0063cb;
  --c--theme--colors--info-clicked-200: #a9bfff;
  --c--theme--colors--info-clicked-600: #6798ff;
  --c--theme--colors--info-hover-200: #c2d1ff;
  --c--theme--colors--info-hover-600: #3b87ff;
  --c--theme--colors--warning-200: #ffe9e6;
  --c--theme--colors--warning-500: #b34000;
  --c--theme--colors--warning-600: #b34000;
  --c--theme--colors--warning-clicked-200: #ffb0a2;
  --c--theme--colors--warning-clicked-600: #ff7a55;
  --c--theme--colors--warning-hover-200: #ffc6bd;
  --c--theme--colors--warning-hover-600: #ff6218;
  --c--theme--colors--danger-200: #ffe9e9;
  --c--theme--colors--danger-500: #ce0500;
  --c--theme--colors--danger-600: #ce0500;
  --c--theme--colors--danger-clicked-200: #ffafaf;
  --c--theme--colors--danger-clicked-600: #ff4140;
  --c--theme--colors--danger-hover-200: #ffc5c5;
  --c--theme--colors--danger-hover-600: #ff2725;
  --c--theme--colors--cumulus-100: #f3f6fe;
  --c--theme--colors--cumulus-200: #e6eefe;
  --c--theme--colors--cumulus-300: #dae6fd;
  --c--theme--colors--cumulus-400: #b6cffb;
  --c--theme--colors--cumulus-500: #417dc4;
  --c--theme--colors--cumulus-600: #3558a2;
  --c--theme--colors--emeraude-100: #e3fdeb;
  --c--theme--colors--emeraude-200: #c3fad5;
  --c--theme--colors--emeraude-300: #9ef9be;
  --c--theme--colors--emeraude-400: #6fe49d;
  --c--theme--colors--emeraude-500: #00a95f;
  --c--theme--colors--emeraude-600: #297254;
  --c--theme--colors--glycine-100: #fef3fd;
  --c--theme--colors--glycine-200: #fee7fc;
  --c--theme--colors--glycine-300: #fddbfa;
  --c--theme--colors--glycine-400: #fbb8f6;
  --c--theme--colors--glycine-500: #a558a0;
  --c--theme--colors--glycine-600: #6e445a;
  --c--theme--colors--terre-battue-100: #fef7da;
  --c--theme--colors--terre-battue-200: #fceeac;
  --c--theme--colors--terre-battue-300: #fbe769;
  --c--theme--colors--terre-battue-400: #e2cf58;
  --c--theme--colors--terre-battue-500: #b7a73f;
  --c--theme--colors--terre-battue-600: #66673d;
  --c--theme--colors--tilleul-verveine-100: #fef7da;
  --c--theme--colors--tilleul-verveine-200: #fceeac;
  --c--theme--colors--tilleul-verveine-300: #fbe769;
  --c--theme--colors--tilleul-verveine-400: #e2cf58;
  --c--theme--colors--tilleul-verveine-500: #b7a73f;
  --c--theme--colors--tilleul-verveine-600: #66673d;
  --c--theme--colors--focus-500: #0a76f6;
  --c--theme--spacings--050V: 2px;
  --c--theme--spacings--100V: 4px;
  --c--theme--spacings--150V: 6px;
  --c--theme--spacings--100W: 8px;
  --c--theme--spacings--300V: 12px;
  --c--theme--spacings--200W: 16px;
  --c--theme--spacings--300W: 24px;
  --c--theme--spacings--400W: 32px;
  --c--theme--spacings--500W: 40px;
  --c--theme--spacings--600W: 48px;
  --c--theme--spacings--700W: 56px;
  --c--theme--spacings--800W: 64px;
  --c--theme--spacings--900W: 72px;
  --c--theme--spacings--1200W: 96px;
  --c--theme--spacings--1500W: 120px;
  --c--theme--font--families--accent: Marianne;
  --c--theme--font--families--base: Marianne;
  --c--theme--font--sizes--xl: 20px;
  --c--theme--font--sizes--lg: 18px;
  --c--theme--font--sizes--md: 16px;
  --c--theme--font--sizes--sm: 14px;
  --c--theme--font--sizes--xs: 12px;
  --c--theme--font--sizes--h1: 32px;
  --c--theme--font--sizes--h2: 28px;
  --c--theme--font--sizes--h3: 24px;
  --c--theme--font--sizes--h4: 22px;
  --c--theme--font--sizes--h5: 20px;
  --c--theme--font--sizes--h6: 18px;
  --c--theme--font--sizes--title-alt-xl: 80px;
  --c--theme--font--sizes--title-alt-lg: 72px;
  --c--theme--font--sizes--title-alt-md: 64px;
  --c--theme--font--sizes--title-alt-sm: 56px;
  --c--theme--font--sizes--title-alt-xs: 48px;
  --c--components--alert--border-radius: 0;
  --c--components--alert--background-color: var(
    --c--theme--colors--greyscale-000
  );
  --c--components--modal--box-shadow: 0px 6px 18px 0px rgba(0, 0, 18, 0.16);
  --c--components--button--medium-height: 48px;
  --c--components--button--border-radius: 4px;
  --c--components--button--medium-text-height: 48px;
  --c--components--button--primary--background--color: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--primary--background--color-hover: var(
    --c--theme--colors--primary-hover-600
  );
  --c--components--button--primary--background--color-active: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--primary--background--color-focus: var(
    --c--theme--colors--focus-500
  );
  --c--components--button--primary--color: #ffffff;
  --c--components--button--primary--color-hover: #ffffff;
  --c--components--button--primary--color-active: #ffffff;
  --c--components--button--primary-text--background--color-hover: var(
    --c--theme--colors--greyscale-hover-000
  );
  --c--components--button--primary-text--background--color-active: var(
    --c--theme--colors--greyscale-clicked-000
  );
  --c--components--button--primary-text--color-disabled: var(
    --c--theme--colors--greyscale-400
  );
  --c--components--button--primary-text--color: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--primary-text--color-hover: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--secondary--background--color: var(
    --c--theme--colors--greyscale-000
  );
  --c--components--button--secondary--background--color-hover: var(
    --c--theme--colors--greyscale-hover-000
  );
  --c--components--button--secondary--background--color-active: #ededed;
  --c--components--button--secondary--border--color: var(
    --c--theme--colors--greyscale-250
  );
  --c--components--button--secondary--border--color-hover: var(
    --c--theme--colors--greyscale-250
  );
  --c--components--button--secondary--color: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--secondary--color-hover: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--secondary--color-disabled: var(
    --c--theme--colors--greyscale-400
  );
  --c--components--button--tertiary--background--color: var(
    --c--theme--colors--primary-300
  );
  --c--components--button--tertiary--background--color-hover: var(
    --c--theme--colors--primary-hover-300
  );
  --c--components--button--tertiary--background--color-active: var(
    --c--theme--colors--primary-clicked-300
  );
  --c--components--button--tertiary--border--color: var(
    --c--theme--colors--primary-500
  );
  --c--components--button--tertiary--border--color-hover: var(
    --c--theme--colors--greyscale-250
  );
  --c--components--button--tertiary--color: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--tertiary--color-hover: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--tertiary--color-disabled: var(
    --c--theme--colors--primary-400
  );
  --c--components--button--tertiary-text--background--color-hover: var(
    --c--theme--colors--primary-100
  );
  --c--components--button--tertiary-text--color-hover: var(
    --c--theme--colors--primary-text
  );
  --c--components--datagrid--header--color: var(
    --c--theme--colors--greyscale-500
  );
  --c--components--datagrid--header--size: var(--c--theme--font--sizes--s);
  --c--components--datagrid--body--background-color: transparent;
  --c--components--datagrid--body--background-color-hover: #f4f4fd;
  --c--components--datagrid--pagination--background-color: transparent;
  --c--components--datagrid--pagination--background-color-active: var(
    --c--theme--colors--primary-300
  );
  --c--components--la-gauffre--activated: true;
}
.clr-secondary-text {
  color: var(--c--theme--colors--secondary-text);
}
.clr-secondary-100 {
  color: var(--c--theme--colors--secondary-100);
}
.clr-secondary-200 {
  color: var(--c--theme--colors--secondary-200);
}
.clr-secondary-300 {
  color: var(--c--theme--colors--secondary-300);
}
.clr-secondary-400 {
  color: var(--c--theme--colors--secondary-400);
}
.clr-secondary-500 {
  color: var(--c--theme--colors--secondary-500);
}
.clr-secondary-600 {
  color: var(--c--theme--colors--secondary-600);
}
.clr-secondary-700 {
  color: var(--c--theme--colors--secondary-700);
}
.clr-secondary-800 {
  color: var(--c--theme--colors--secondary-800);
}
.clr-secondary-900 {
  color: var(--c--theme--colors--secondary-900);
}
.clr-info-text {
  color: var(--c--theme--colors--info-text);
}
.clr-info-100 {
  color: var(--c--theme--colors--info-100);
}
.clr-info-200 {
  color: var(--c--theme--colors--info-200);
}
.clr-info-300 {
  color: var(--c--theme--colors--info-300);
}
.clr-info-400 {
  color: var(--c--theme--colors--info-400);
}
.clr-info-500 {
  color: var(--c--theme--colors--info-500);
}
.clr-info-600 {
  color: var(--c--theme--colors--info-600);
}
.clr-info-700 {
  color: var(--c--theme--colors--info-700);
}
.clr-info-800 {
  color: var(--c--theme--colors--info-800);
}
.clr-info-900 {
  color: var(--c--theme--colors--info-900);
}
.clr-greyscale-100 {
  color: var(--c--theme--colors--greyscale-100);
}
.clr-greyscale-200 {
  color: var(--c--theme--colors--greyscale-200);
}
.clr-greyscale-300 {
  color: var(--c--theme--colors--greyscale-300);
}
.clr-greyscale-400 {
  color: var(--c--theme--colors--greyscale-400);
}
.clr-greyscale-500 {
  color: var(--c--theme--colors--greyscale-500);
}
.clr-greyscale-600 {
  color: var(--c--theme--colors--greyscale-600);
}
.clr-greyscale-700 {
  color: var(--c--theme--colors--greyscale-700);
}
.clr-greyscale-800 {
  color: var(--c--theme--colors--greyscale-800);
}
.clr-greyscale-900 {
  color: var(--c--theme--colors--greyscale-900);
}
.clr-greyscale-000 {
  color: var(--c--theme--colors--greyscale-000);
}
.clr-primary-100 {
  color: var(--c--theme--colors--primary-100);
}
.clr-primary-200 {
  color: var(--c--theme--colors--primary-200);
}
.clr-primary-300 {
  color: var(--c--theme--colors--primary-300);
}
.clr-primary-400 {
  color: var(--c--theme--colors--primary-400);
}
.clr-primary-500 {
  color: var(--c--theme--colors--primary-500);
}
.clr-primary-600 {
  color: var(--c--theme--colors--primary-600);
}
.clr-primary-700 {
  color: var(--c--theme--colors--primary-700);
}
.clr-primary-800 {
  color: var(--c--theme--colors--primary-800);
}
.clr-primary-900 {
  color: var(--c--theme--colors--primary-900);
}
.clr-success-100 {
  color: var(--c--theme--colors--success-100);
}
.clr-success-200 {
  color: var(--c--theme--colors--success-200);
}
.clr-success-300 {
  color: var(--c--theme--colors--success-300);
}
.clr-success-400 {
  color: var(--c--theme--colors--success-400);
}
.clr-success-500 {
  color: var(--c--theme--colors--success-500);
}
.clr-success-600 {
  color: var(--c--theme--colors--success-600);
}
.clr-success-700 {
  color: var(--c--theme--colors--success-700);
}
.clr-success-800 {
  color: var(--c--theme--colors--success-800);
}
.clr-success-900 {
  color: var(--c--theme--colors--success-900);
}
.clr-warning-100 {
  color: var(--c--theme--colors--warning-100);
}
.clr-warning-200 {
  color: var(--c--theme--colors--warning-200);
}
.clr-warning-300 {
  color: var(--c--theme--colors--warning-300);
}
.clr-warning-400 {
  color: var(--c--theme--colors--warning-400);
}
.clr-warning-500 {
  color: var(--c--theme--colors--warning-500);
}
.clr-warning-600 {
  color: var(--c--theme--colors--warning-600);
}
.clr-warning-700 {
  color: var(--c--theme--colors--warning-700);
}
.clr-warning-800 {
  color: var(--c--theme--colors--warning-800);
}
.clr-warning-900 {
  color: var(--c--theme--colors--warning-900);
}
.clr-danger-100 {
  color: var(--c--theme--colors--danger-100);
}
.clr-danger-200 {
  color: var(--c--theme--colors--danger-200);
}
.clr-danger-300 {
  color: var(--c--theme--colors--danger-300);
}
.clr-danger-400 {
  color: var(--c--theme--colors--danger-400);
}
.clr-danger-500 {
  color: var(--c--theme--colors--danger-500);
}
.clr-danger-600 {
  color: var(--c--theme--colors--danger-600);
}
.clr-danger-700 {
  color: var(--c--theme--colors--danger-700);
}
.clr-danger-800 {
  color: var(--c--theme--colors--danger-800);
}
.clr-danger-900 {
  color: var(--c--theme--colors--danger-900);
}
.clr-primary-text {
  color: var(--c--theme--colors--primary-text);
}
.clr-success-text {
  color: var(--c--theme--colors--success-text);
}
.clr-warning-text {
  color: var(--c--theme--colors--warning-text);
}
.clr-danger-text {
  color: var(--c--theme--colors--danger-text);
}
.clr-card-border {
  color: var(--c--theme--colors--card-border);
}
.clr-primary-bg {
  color: var(--c--theme--colors--primary-bg);
}
.clr-primary-150 {
  color: var(--c--theme--colors--primary-150);
}
.clr-info-150 {
  color: var(--c--theme--colors--info-150);
}
.clr-grey-400 {
  color: var(--c--theme--colors--grey-400);
}
.clr-grey-800 {
  color: var(--c--theme--colors--grey-800);
}
.bg-secondary-text {
  background-color: var(--c--theme--colors--secondary-text);
}
.bg-secondary-100 {
  background-color: var(--c--theme--colors--secondary-100);
}
.bg-secondary-200 {
  background-color: var(--c--theme--colors--secondary-200);
}
.bg-secondary-300 {
  background-color: var(--c--theme--colors--secondary-300);
}
.bg-secondary-400 {
  background-color: var(--c--theme--colors--secondary-400);
}
.bg-secondary-500 {
  background-color: var(--c--theme--colors--secondary-500);
}
.bg-secondary-600 {
  background-color: var(--c--theme--colors--secondary-600);
}
.bg-secondary-700 {
  background-color: var(--c--theme--colors--secondary-700);
}
.bg-secondary-800 {
  background-color: var(--c--theme--colors--secondary-800);
}
.bg-secondary-900 {
  background-color: var(--c--theme--colors--secondary-900);
}
.bg-info-text {
  background-color: var(--c--theme--colors--info-text);
}
.bg-info-100 {
  background-color: var(--c--theme--colors--info-100);
}
.bg-info-200 {
  background-color: var(--c--theme--colors--info-200);
}
.bg-info-300 {
  background-color: var(--c--theme--colors--info-300);
}
.bg-info-400 {
  background-color: var(--c--theme--colors--info-400);
}
.bg-info-500 {
  background-color: var(--c--theme--colors--info-500);
}
.bg-info-600 {
  background-color: var(--c--theme--colors--info-600);
}
.bg-info-700 {
  background-color: var(--c--theme--colors--info-700);
}
.bg-info-800 {
  background-color: var(--c--theme--colors--info-800);
}
.bg-info-900 {
  background-color: var(--c--theme--colors--info-900);
}
.bg-greyscale-100 {
  background-color: var(--c--theme--colors--greyscale-100);
}
.bg-greyscale-200 {
  background-color: var(--c--theme--colors--greyscale-200);
}
.bg-greyscale-300 {
  background-color: var(--c--theme--colors--greyscale-300);
}
.bg-greyscale-400 {
  background-color: var(--c--theme--colors--greyscale-400);
}
.bg-greyscale-500 {
  background-color: var(--c--theme--colors--greyscale-500);
}
.bg-greyscale-600 {
  background-color: var(--c--theme--colors--greyscale-600);
}
.bg-greyscale-700 {
  background-color: var(--c--theme--colors--greyscale-700);
}
.bg-greyscale-800 {
  background-color: var(--c--theme--colors--greyscale-800);
}
.bg-greyscale-900 {
  background-color: var(--c--theme--colors--greyscale-900);
}
.bg-greyscale-000 {
  background-color: var(--c--theme--colors--greyscale-000);
}
.bg-primary-100 {
  background-color: var(--c--theme--colors--primary-100);
}
.bg-primary-200 {
  background-color: var(--c--theme--colors--primary-200);
}
.bg-primary-300 {
  background-color: var(--c--theme--colors--primary-300);
}
.bg-primary-400 {
  background-color: var(--c--theme--colors--primary-400);
}
.bg-primary-500 {
  background-color: var(--c--theme--colors--primary-500);
}
.bg-primary-600 {
  background-color: var(--c--theme--colors--primary-600);
}
.bg-primary-700 {
  background-color: var(--c--theme--colors--primary-700);
}
.bg-primary-800 {
  background-color: var(--c--theme--colors--primary-800);
}
.bg-primary-900 {
  background-color: var(--c--theme--colors--primary-900);
}
.bg-success-100 {
  background-color: var(--c--theme--colors--success-100);
}
.bg-success-200 {
  background-color: var(--c--theme--colors--success-200);
}
.bg-success-300 {
  background-color: var(--c--theme--colors--success-300);
}
.bg-success-400 {
  background-color: var(--c--theme--colors--success-400);
}
.bg-success-500 {
  background-color: var(--c--theme--colors--success-500);
}
.bg-success-600 {
  background-color: var(--c--theme--colors--success-600);
}
.bg-success-700 {
  background-color: var(--c--theme--colors--success-700);
}
.bg-success-800 {
  background-color: var(--c--theme--colors--success-800);
}
.bg-success-900 {
  background-color: var(--c--theme--colors--success-900);
}
.bg-warning-100 {
  background-color: var(--c--theme--colors--warning-100);
}
.bg-warning-200 {
  background-color: var(--c--theme--colors--warning-200);
}
.bg-warning-300 {
  background-color: var(--c--theme--colors--warning-300);
}
.bg-warning-400 {
  background-color: var(--c--theme--colors--warning-400);
}
.bg-warning-500 {
  background-color: var(--c--theme--colors--warning-500);
}
.bg-warning-600 {
  background-color: var(--c--theme--colors--warning-600);
}
.bg-warning-700 {
  background-color: var(--c--theme--colors--warning-700);
}
.bg-warning-800 {
  background-color: var(--c--theme--colors--warning-800);
}
.bg-warning-900 {
  background-color: var(--c--theme--colors--warning-900);
}
.bg-danger-100 {
  background-color: var(--c--theme--colors--danger-100);
}
.bg-danger-200 {
  background-color: var(--c--theme--colors--danger-200);
}
.bg-danger-300 {
  background-color: var(--c--theme--colors--danger-300);
}
.bg-danger-400 {
  background-color: var(--c--theme--colors--danger-400);
}
.bg-danger-500 {
  background-color: var(--c--theme--colors--danger-500);
}
.bg-danger-600 {
  background-color: var(--c--theme--colors--danger-600);
}
.bg-danger-700 {
  background-color: var(--c--theme--colors--danger-700);
}
.bg-danger-800 {
  background-color: var(--c--theme--colors--danger-800);
}
.bg-danger-900 {
  background-color: var(--c--theme--colors--danger-900);
}
.bg-primary-text {
  background-color: var(--c--theme--colors--primary-text);
}
.bg-success-text {
  background-color: var(--c--theme--colors--success-text);
}
.bg-warning-text {
  background-color: var(--c--theme--colors--warning-text);
}
.bg-danger-text {
  background-color: var(--c--theme--colors--danger-text);
}
.bg-card-border {
  background-color: var(--c--theme--colors--card-border);
}
.bg-primary-bg {
  background-color: var(--c--theme--colors--primary-bg);
}
.bg-primary-150 {
  background-color: var(--c--theme--colors--primary-150);
}
.bg-info-150 {
  background-color: var(--c--theme--colors--info-150);
}
.bg-grey-400 {
  background-color: var(--c--theme--colors--grey-400);
}
.bg-grey-800 {
  background-color: var(--c--theme--colors--grey-800);
}
.fw-thin {
  font-weight: var(--c--theme--font--weights--thin);
}
.fw-light {
  font-weight: var(--c--theme--font--weights--light);
}
.fw-regular {
  font-weight: var(--c--theme--font--weights--regular);
}
.fw-medium {
  font-weight: var(--c--theme--font--weights--medium);
}
.fw-bold {
  font-weight: var(--c--theme--font--weights--bold);
}
.fw-extrabold {
  font-weight: var(--c--theme--font--weights--extrabold);
}
.fw-black {
  font-weight: var(--c--theme--font--weights--black);
}
.fs-h1 {
  font-size: var(--c--theme--font--sizes--h1);
  letter-spacing: var(--c--theme--font--letterspacings--h1);
}
.fs-h2 {
  font-size: var(--c--theme--font--sizes--h2);
  letter-spacing: var(--c--theme--font--letterspacings--h2);
}
.fs-h3 {
  font-size: var(--c--theme--font--sizes--h3);
  letter-spacing: var(--c--theme--font--letterspacings--h3);
}
.fs-h4 {
  font-size: var(--c--theme--font--sizes--h4);
  letter-spacing: var(--c--theme--font--letterspacings--h4);
}
.fs-h5 {
  font-size: var(--c--theme--font--sizes--h5);
  letter-spacing: var(--c--theme--font--letterspacings--h5);
}
.fs-h6 {
  font-size: var(--c--theme--font--sizes--h6);
  letter-spacing: var(--c--theme--font--letterspacings--h6);
}
.fs-l {
  font-size: var(--c--theme--font--sizes--l);
  letter-spacing: var(--c--theme--font--letterspacings--l);
}
.fs-m {
  font-size: var(--c--theme--font--sizes--m);
  letter-spacing: var(--c--theme--font--letterspacings--m);
}
.fs-s {
  font-size: var(--c--theme--font--sizes--s);
  letter-spacing: var(--c--theme--font--letterspacings--s);
}
.fs-ml {
  font-size: var(--c--theme--font--sizes--ml);
  letter-spacing: var(--c--theme--font--letterspacings--ml);
}
.fs-xl {
  font-size: var(--c--theme--font--sizes--xl);
  letter-spacing: var(--c--theme--font--letterspacings--xl);
}
.fs-t {
  font-size: var(--c--theme--font--sizes--t);
  letter-spacing: var(--c--theme--font--letterspacings--t);
}
.f-base {
  font-family: var(--c--theme--font--families--base);
}
.f-accent {
  font-family: var(--c--theme--font--families--accent);
}
.m-xl {
  margin: var(--c--theme--spacings--xl);
}
.mb-xl {
  margin-bottom: var(--c--theme--spacings--xl);
}
.mt-xl {
  margin-top: var(--c--theme--spacings--xl);
}
.ml-xl {
  margin-left: var(--c--theme--spacings--xl);
}
.mr-xl {
  margin-right: var(--c--theme--spacings--xl);
}
.m-l {
  margin: var(--c--theme--spacings--l);
}
.mb-l {
  margin-bottom: var(--c--theme--spacings--l);
}
.mt-l {
  margin-top: var(--c--theme--spacings--l);
}
.ml-l {
  margin-left: var(--c--theme--spacings--l);
}
.mr-l {
  margin-right: var(--c--theme--spacings--l);
}
.m-b {
  margin: var(--c--theme--spacings--b);
}
.mb-b {
  margin-bottom: var(--c--theme--spacings--b);
}
.mt-b {
  margin-top: var(--c--theme--spacings--b);
}
.ml-b {
  margin-left: var(--c--theme--spacings--b);
}
.mr-b {
  margin-right: var(--c--theme--spacings--b);
}
.m-s {
  margin: var(--c--theme--spacings--s);
}
.mb-s {
  margin-bottom: var(--c--theme--spacings--s);
}
.mt-s {
  margin-top: var(--c--theme--spacings--s);
}
.ml-s {
  margin-left: var(--c--theme--spacings--s);
}
.mr-s {
  margin-right: var(--c--theme--spacings--s);
}
.m-t {
  margin: var(--c--theme--spacings--t);
}
.mb-t {
  margin-bottom: var(--c--theme--spacings--t);
}
.mt-t {
  margin-top: var(--c--theme--spacings--t);
}
.ml-t {
  margin-left: var(--c--theme--spacings--t);
}
.mr-t {
  margin-right: var(--c--theme--spacings--t);
}
.m-st {
  margin: var(--c--theme--spacings--st);
}
.mb-st {
  margin-bottom: var(--c--theme--spacings--st);
}
.mt-st {
  margin-top: var(--c--theme--spacings--st);
}
.ml-st {
  margin-left: var(--c--theme--spacings--st);
}
.mr-st {
  margin-right: var(--c--theme--spacings--st);
}
.p-xl {
  padding: var(--c--theme--spacings--xl);
}
.pb-xl {
  padding-bottom: var(--c--theme--spacings--xl);
}
.pt-xl {
  padding-top: var(--c--theme--spacings--xl);
}
.pl-xl {
  padding-left: var(--c--theme--spacings--xl);
}
.pr-xl {
  padding-right: var(--c--theme--spacings--xl);
}
.p-l {
  padding: var(--c--theme--spacings--l);
}
.pb-l {
  padding-bottom: var(--c--theme--spacings--l);
}
.pt-l {
  padding-top: var(--c--theme--spacings--l);
}
.pl-l {
  padding-left: var(--c--theme--spacings--l);
}
.pr-l {
  padding-right: var(--c--theme--spacings--l);
}
.p-b {
  padding: var(--c--theme--spacings--b);
}
.pb-b {
  padding-bottom: var(--c--theme--spacings--b);
}
.pt-b {
  padding-top: var(--c--theme--spacings--b);
}
.pl-b {
  padding-left: var(--c--theme--spacings--b);
}
.pr-b {
  padding-right: var(--c--theme--spacings--b);
}
.p-s {
  padding: var(--c--theme--spacings--s);
}
.pb-s {
  padding-bottom: var(--c--theme--spacings--s);
}
.pt-s {
  padding-top: var(--c--theme--spacings--s);
}
.pl-s {
  padding-left: var(--c--theme--spacings--s);
}
.pr-s {
  padding-right: var(--c--theme--spacings--s);
}
.p-t {
  padding: var(--c--theme--spacings--t);
}
.pb-t {
  padding-bottom: var(--c--theme--spacings--t);
}
.pt-t {
  padding-top: var(--c--theme--spacings--t);
}
.pl-t {
  padding-left: var(--c--theme--spacings--t);
}
.pr-t {
  padding-right: var(--c--theme--spacings--t);
}
.p-st {
  padding: var(--c--theme--spacings--st);
}
.pb-st {
  padding-bottom: var(--c--theme--spacings--st);
}
.pt-st {
  padding-top: var(--c--theme--spacings--st);
}
.pl-st {
  padding-left: var(--c--theme--spacings--st);
}
.pr-st {
  padding-right: var(--c--theme--spacings--st);
}
