# Postgresql db container configuration
POSTGRES_DB=impress
POSTGRES_USER=dinum
POSTGRES_PASSWORD=pass

# App database configuration
DB_HOST=postgresql
DB_NAME=impress
DB_USER=dinum
DB_PASSWORD=pass
DB_PORT=5432