@font-face {
  font-family: Marianne;
  src: url('Marianne-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Marianne;
  src: url('Marianne-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url('Marianne-Bold.woff2') format('woff2');
  font-weight: 700;
}
