
.c__app {

  &__title {
    text-align: center;
  }

  $gap: 1rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 55rem;

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: calc($gap / 2);
    }
  }
}
